<template name="ApplicationLayout">

    <head>
        <title>chatroom</title>
    </head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <body>
        <h1>chatroom</h1> {{> loginButtons}}
        <hr/> {{> yield}}
    </body>
</template>

<template name="welcome">
    {{#if currentUser}}
    <h2>Welcome</h2> {{else}}
    <h2>please log in</h2> {{/if}}
    <form class="name-form">
        <input type="text" name="firstname">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
    {{> post}} {{>usernames}}
</template>

<template name="usernames">
    <ul>
        {{#each usernames}}
        <li>{{username}}:{{name}}</li>
        {{/each}}
    </ul>
</template>
<template name="post">
    <ul>
        {{#each posts}}
        <li>{{username}}:{{name}}</li>
        {{/each}} {{> friends}}
    </ul>
</template>
<template name="friends">
    <div class="container">
        <div class="section">
            <div class="card-panel">
                <h2>Friends list</h2>
            </div>
        </div>
    </div>
    {{#each listuser}}
    <p id="userNameOnList"> {{username}}</p>
    {{/each}}
</template>